@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Righteous&family=Roboto:wght@300;500&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-image: linear-gradient(to top, #ffffff 40%, #9FB5FF 90%);
    align-items: center;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: #ffffffd3;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #050505;
    text-decoration: none;
    margin-top: 5px;
}

.logo2 {
    font-size: 25px;
    font-weight: 600;
    color: #fdfdfd;
    text-decoration: none;

}

.uti {
    color: #c99806;
    box-shadow: #000;
}

.subtitulo {
    background: #33335e;
    padding-left: 15px;
    margin-bottom: 150px;
    border-bottom: 1px solid #63a5fc;
}



:root {
    --estado-buda: 0.3s;
    --cada-item: 65px;
    --cantidad-item: 0;
}

.menu2 {
    background-image: url(../img/fondo2.jpg);
}


#menuLateral {
    background-image: url(../img/fondo2.jpg);
}




nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
}


nav ul a {
    text-align: center;
    justify-content: center;
    font-family: 'Righteous', sans-serif;
    font-size: 22px;
    box-sizing: border-box;
    color: rgb(14, 12, 12);
    display: block;
    width: 100%;
    padding: 20px 10px;
    text-decoration: none;
    margin-top: 5px;
}

nav ul ul {
    height: 0px;
    overflow: hidden;
    transition: var(--estado-buda)
}

nav ul li:hover ul {
    height: calc(var(--cantidad-item)* var(--cada-item));
    background: linear-gradient(25deg, #ffffff, #89b3cc);

}



main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .contenedor-img {
    max-width: 50%;
    margin-right: 50px;
}

.contenedor-texto .titulo {
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: start;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.contenedor-texto .palabra {
    font-weight: bold;
    color: #063ac9;
    font-style: normal;
}

.contenedor-texto p {
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 915px) {
    main {
        flex-direction: column;
        text-align: center;
    }

    main .contenedor-img {
        margin-bottom: 40px;
    }
}






.texto1 {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(0deg, #8771d3, #01012e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 40px;
}

.texto2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.texto3 {
    font-size: 1.1rem;
    margin-top: 40px;
    color: #000000;
    font-weight: 500;

}


.confi {
    display: inline-flex;
    font-size: 4em;
    font-weight: bold;
    font-family: 'Righteous', sans-serif;
    background: -webkit-linear-gradient(0deg, #8771d3, #01012e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 20px;



}




.txt {
    font-size: 1.1rem;
    color: #000000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    margin: 0px 20px;

}


.imagen2 {

    padding-top: 30px;

}


.boton {
    font-family: 'Righteous', sans-serif;
    border-style: none;
    padding: 12px 46px;
    margin: 100px 0px;
    color: #050404;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0161c8bd, #55e7fc);
    text-shadow: none;
}

.boton a {
    text-decoration: none;
}

.casi-fin {
    background: -webkit-linear-gradient(0deg, #8771d3, #01012e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    padding-top: 90px;
    font-size: 35px;


}

.text {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    padding-right: 50px;

}


.digita {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #8771d3, #01012e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    position: relative;


}

.titulo-empecemos {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;

}

.pie-pagina {
    width: 100%;
    background-image: linear-gradient(to top, #9FB5FF 30%, #ffffff 100%);
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {

    margin-bottom: 50px;
    font-size: 30px;
}

.pie-pagina .grupo-1 .box p {

    margin-bottom: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    margin-right: 10px;
    background-color: #000000;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 100px;

}

.pie-pagina .grupo-1 .red-social a:hover {
    color: #0b8eda;
}

.pie-pagina .grupo-2 {

    padding: 15px 10px;
    text-align: center;

}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}